{% extends 'templates_guru/dashboard_guru.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Tambah KKM {{ guru.guru_mata_pelajaran_wajib }}{% endblock title %}

{% block sub_content %}
<main id="main">
	<h5>Tambah KKM <b>{{ guru.guru_mata_pelajaran_wajib }}</b></h5>
	<nav>
	    <ol class="breadcrumb">
	      <li class="breadcrumb-item"><a href="{% url 'monitoring:page_guru_list_pengetahuan_wajib' %}">Monitoring</a></li>
	      <li class="breadcrumb-item"><a href="{% url 'monitoring:page_guru_kkm_wajib' %}">KKM</a></li>
	      <li class="breadcrumb-item active">Tambah</li>
	    </ol>
	</nav>

	<div class="card">
		<div class="card-body">
			<h1 class="card-title">List KKM</h1>
			<form class="row g-3" method="POST">
				{% csrf_token %}
				<div class="col-md-6">
					<label for="inputName5" class="form-label">Jenjang Kelas</label>
					{{ form.mo_jenjang_kelas }}
				</div>
				<div class="col-md-6">
					<label for="inputEmail5" class="form-label">KKM</label>
					{{ form.mo_kkm }}
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-primary">Simpan</button>
				</div>
			</form><!-- End Multi Columns Form -->
		</div>
	</div>
</main>
{% endblock sub_content %}
