{% extends 'templates_kepsek/dashboard_kepsek.html' %}
{% load static %}
{% block title %}Performa Mata Pelajaran{% endblock title %}
{% load widget_tweaks %}


{% block sub_content %}
<main id='main'>

  <script type="text/javascript">
    var data = JSON.parse("{{ data_grafik | escapejs }}");
    console.log(data)
  </script>

	<div class="pagetitle">
      <h1>Performa Mata Pelajaran <b>{{ mapel_jurusan.mapel_jurusan_pelajaran }}</b></h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'monitoring:page_kepsek_performa_kelas_landing'%}">Monitoring</a></li>
          <li class="breadcrumb-item"><a href="{% url 'monitoring:page_kepsek_performa_mapel'%}">Performa Mata Pelajaran</a></li>
          <li class="breadcrumb-item">Detail</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


    <div class="card" style="overflow-x: auto;">
      <div class="card-body">
        <h1 class="card-title">Penilaian Kelas 10</h1>
        <!-- Bordered Tabs Justified -->
        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home_pengetahuan_10" type="button" role="tab" aria-controls="home" aria-selected="true">Pengetahuan</button>
          </li>
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile_keterampilan_10" type="button" role="tab" aria-controls="profile" aria-selected="false">Keterampilan</button>
          </li>
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact_sosial_10" type="button" role="tab" aria-controls="contact" aria-selected="false">Sikap Sosial</button>
          </li>
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact_spiritual_10" type="button" role="tab" aria-controls="contact" aria-selected="false">Sikap Spiritual</button>
          </li>
        </ul>
        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
          <div class="tab-pane fade show active" id="bordered-justified-home_pengetahuan_10" role="tabpanel" aria-labelledby="home-tab">
            <canvas id="barChart_pengetahuan_10" style="max-height: 400px;"></canvas>
            <script>
              var data_p_10 = JSON.parse("{{ data_grafik | escapejs }}")
              document.addEventListener("DOMContentLoaded", () => {
              new Chart(document.querySelector('#barChart_pengetahuan_10'), {
                type: 'bar',
                data: {
                  labels: data_p_10['kelas_10']['pengetahuan']['kelas'],
                  datasets: [
                    {
                      label: 'Semester 1',
                      data: data_p_10['kelas_10']['pengetahuan']['semester_1']['nilai'],
                      backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      ],
                      borderColor: [
                      'rgb(255, 99, 132)',
                      ],
                      borderWidth: 1
                    },
                    {
                      label: 'Semester 2',
                      data: data_p_10['kelas_10']['pengetahuan']['semester_2']['nilai'],
                      backgroundColor: [
                      'rgba(153, 102, 255, 0.2)',
                      ],
                      borderColor: [
                      'rgb(153, 102, 255)',
                      ],
                      borderWidth: 1
                    }
                  ]
                },
                options: {
                  scales: {
                    y: {
                    beginAtZero: true
                    }
                  },
                  plugins: {
                    legend: true
                  }
                }
                });
              });
            </script>
            <!-- End Bar CHart -->
            <table class="table table-hover datatable" style="font-size: 13px;">
              <thead>
                <th>Siswa</th>
                <th>Kelas</th>
                <th>Semester</th>
                <th>Nilai P1 TGS</th>
                <th>Nilai P2 TLS</th>
                <th>Nilai P3 TLS</th>
              </thead>
              <tbody>
                {% for data in data_angka.kelas_10.pengetahuan %}
                <tr>
                  <td>{{ data.mo_siswa__murid_nama }}</td>
                  <td>{{ data.mo_kelas__skl_k_kelas_nama }}</td>
                  <td>{{ data.mo_semester__skl_s_semester}}</td>
                  <td>{{ data.mo_nilai_P1_TGS__avg | floatformat }}</td>
                  <td>{{ data.mo_nilai_P2_TLS__avg | floatformat }}</td>
                  <td>{{ data.mo_nilai_P3_TLS__avg | floatformat }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="bordered-justified-profile_keterampilan_10" role="tabpanel" aria-labelledby="profile-tab">
            <canvas id="barChart_keterampilan_10" style="max-height: 400px;"></canvas>
            <script>
              var data_p_10 = JSON.parse("{{ data_grafik | escapejs }}")
              document.addEventListener("DOMContentLoaded", () => {
              new Chart(document.querySelector('#barChart_keterampilan_10'), {
                type: 'bar',
                data: {
                  labels: data_p_10['kelas_10']['keterampilan']['kelas'],
                  datasets: [
                    {
                      label: 'Semester 1',
                      data: data_p_10['kelas_10']['keterampilan']['semester_1']['nilai'],
                      backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      ],
                      borderColor: [
                      'rgb(255, 99, 132)',
                      ],
                      borderWidth: 1
                    },
                    {
                      label: 'Semester 2',
                      data: data_p_10['kelas_10']['keterampilan']['semester_2']['nilai'],
                      backgroundColor: [
                      'rgba(153, 102, 255, 0.2)',
                      ],
                      borderColor: [
                      'rgb(153, 102, 255)',
                      ],
                      borderWidth: 1
                    }
                  ]
                },
                options: {
                  scales: {
                    y: {
                    beginAtZero: true
                    }
                  },
                  plugins: {
                    legend: true
                  }
                }
                });
              });
            </script>
            <table class="table table-hover datatable" style="font-size: 13px;">
              <thead>
                <th>Siswa</th>
                <th>Kelas</th>
                <th>Semester</th>
                <th>Nilai Praktek</th>
                <th>Nilai Produk</th>
                <th>Nilai Proyek</th>
                <th>Nilai Portofolio</th>
              </thead>
              <tbody>
                {% for data in data_angka.kelas_10.keterampilan %}
                <tr>
                  <td>{{ data.mo_siswa__murid_nama }}</td>
                  <td>{{ data.mo_kelas__skl_k_kelas_nama }}</td>
                  <td>{{ data.mo_semester__skl_s_semester}}</td>
                  <td>{{ data.mo_praktek__avg | floatformat }}</td>
                  <td>{{ data.mo_produk__avg | floatformat }}</td>
                  <td>{{ data.mo_proyek__avg | floatformat }}</td>
                  <td>{{ data.mo_portofolio__avg | floatformat }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="bordered-justified-contact_sosial_10" role="tabpanel" aria-labelledby="contact-tab">
            <table class="table table-hover datatable" style="font-size: 13px;">
              <thead>
                <th>Siswa</th>
                <th>Nilai</th>
              </thead>
              <tbody>
                {% for data1, data2 in data_angka.kelas_10.sosial %}
                <tr>
                  <td>{{ data1 }}</td>
                  <td>{{ data2 }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="bordered-justified-contact_spiritual_10" role="tabpanel" aria-labelledby="contact-tab">
            <table class="table table-hover datatable" style="font-size: 13px;">
              <thead>
                <th>Siswa</th>
                <th>Nilai</th>
              </thead>
              <tbody>
                {% for data1, data2 in data_angka.kelas_10.spiritual %}
                <tr>
                  <td>{{ data1 }}</td>
                  <td>{{ data2 }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      <!-- End Bordered Tabs Justified -->
        
      </div>
    </div>

    <div class="card" style="overflow-x: auto;">
      <div class="card-body">
        <h1 class="card-title">Penilaian Kelas 11</h1>
        <!-- Bordered Tabs Justified -->
        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-111 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home_pengetahuan_11" type="button" role="tab" aria-controls="home" aria-selected="true">Pengetahuan</button>
          </li>
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-111" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile_keterampilan_11" type="button" role="tab" aria-controls="profile" aria-selected="false">Keterampilan</button>
          </li>
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-111" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact_sosial_11" type="button" role="tab" aria-controls="contact" aria-selected="false">Sikap Sosial</button>
          </li>
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-111" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact_spiritual_11" type="button" role="tab" aria-controls="contact" aria-selected="false">Sikap Spiritual</button>
          </li>
        </ul>
        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
          <div class="tab-pane fade show active" id="bordered-justified-home_pengetahuan_11" role="tabpanel" aria-labelledby="home-tab">
            <canvas id="barChart_pengetahuan_11" style="max-height: 400px;"></canvas>
            <script>
              var data_p_11 = JSON.parse("{{ data_grafik | escapejs }}")
              document.addEventListener("DOMContentLoaded", () => {
              new Chart(document.querySelector('#barChart_pengetahuan_11'), {
                type: 'bar',
                data: {
                  labels: data_p_11['kelas_11']['pengetahuan']['kelas'],
                  datasets: [
                    {
                      label: 'Semester 1',
                      data: data_p_11['kelas_11']['pengetahuan']['semester_1']['nilai'],
                      backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      ],
                      borderColor: [
                      'rgb(255, 99, 132)',
                      ],
                      borderWidth: 1
                    },
                    {
                      label: 'Semester 2',
                      data: data_p_11['kelas_11']['pengetahuan']['semester_2']['nilai'],
                      backgroundColor: [
                      'rgba(153, 112, 255, 0.2)',
                      ],
                      borderColor: [
                      'rgb(153, 112, 255)',
                      ],
                      borderWidth: 1
                    }
                  ]
                },
                options: {
                  scales: {
                    y: {
                    beginAtZero: true
                    }
                  },
                  plugins: {
                    legend: true
                  }
                }
                });
              });
            </script>
            <table class="table table-hover datatable" style="font-size: 13px;">
              <thead>
                <th>Siswa</th>
                <th>Kelas</th>
                <th>Semester</th>
                <th>Nilai P1 TGS</th>
                <th>Nilai P2 TLS</th>
                <th>Nilai P3 TLS</th>
              </thead>
              <tbody>
                {% for data in data_angka.kelas_11.pengetahuan %}
                <tr>
                  <td>{{ data.mo_siswa__murid_nama }}</td>
                  <td>{{ data.mo_kelas__skl_k_kelas_nama }}</td>
                  <td>{{ data.mo_semester__skl_s_semester}}</td>
                  <td>{{ data.mo_nilai_P1_TGS__avg | floatformat }}</td>
                  <td>{{ data.mo_nilai_P2_TLS__avg | floatformat }}</td>
                  <td>{{ data.mo_nilai_P3_TLS__avg | floatformat }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="bordered-justified-profile_keterampilan_11" role="tabpanel" aria-labelledby="profile-tab">
            <canvas id="barChart_keterampilan_11" style="max-height: 400px;"></canvas>
            <script>
              var data_p_11 = JSON.parse("{{ data_grafik | escapejs }}")
              document.addEventListener("DOMContentLoaded", () => {
              new Chart(document.querySelector('#barChart_keterampilan_11'), {
                type: 'bar',
                data: {
                  labels: data_p_11['kelas_11']['keterampilan']['kelas'],
                  datasets: [
                    {
                      label: 'Semester 1',
                      data: data_p_11['kelas_11']['keterampilan']['semester_1']['nilai'],
                      backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      ],
                      borderColor: [
                      'rgb(255, 99, 132)',
                      ],
                      borderWidth: 1
                    },
                    {
                      label: 'Semester 2',
                      data: data_p_11['kelas_11']['keterampilan']['semester_2']['nilai'],
                      backgroundColor: [
                      'rgba(153, 112, 255, 0.2)',
                      ],
                      borderColor: [
                      'rgb(153, 112, 255)',
                      ],
                      borderWidth: 1
                    }
                  ]
                },
                options: {
                  scales: {
                    y: {
                    beginAtZero: true
                    }
                  },
                  plugins: {
                    legend: true
                  }
                }
                });
              });
            </script>
            <table class="table table-hover datatable" style="font-size: 13px;">
              <thead>
                <th>Siswa</th>
                <th>Kelas</th>
                <th>Nilai Praktek</th>
                <th>Nilai Produk</th>
                <th>Nilai Proyek</th>
                <th>Nilai Portofolio</th>
              </thead>
              <tbody>
                {% for data in data_angka.kelas_11.keterampilan %}
                <tr>
                  <td>{{ data.mo_siswa__murid_nama }}</td>
                  <td>{{ data.mo_kelas__skl_k_kelas_nama }}</td>
                  <td>{{ data.mo_praktek__avg | floatformat }}</td>
                  <td>{{ data.mo_produk__avg | floatformat }}</td>
                  <td>{{ data.mo_proyek__avg | floatformat }}</td>
                  <td>{{ data.mo_portofolio__avg | floatformat }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="bordered-justified-contact_sosial_11" role="tabpanel" aria-labelledby="contact-tab">
            <table class="table table-hover datatable" style="font-size: 13px;">
              <thead>
                <th>Siswa</th>
                <th>Nilai</th>
              </thead>
              <tbody>
                {% for data1, data2 in data_angka.kelas_11.sosial %}
                <tr>
                  <td>{{ data1 }}</td>
                  <td>{{ data2 }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="bordered-justified-contact_spiritual_11" role="tabpanel" aria-labelledby="contact-tab">
            <table class="table table-hover datatable" style="font-size: 13px;">
              <thead>
                <th>Siswa</th>
                <th>Nilai</th>
              </thead>
              <tbody>
                {% for data1, data2 in data_angka.kelas_11.spiritual %}
                <tr>
                  <td>{{ data1 }}</td>
                  <td>{{ data2 }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      <!-- End Bordered Tabs Justified -->
        
      </div>
    </div>


    <div class="card" style="overflow-x: auto;">
      <div class="card-body">
        <h1 class="card-title">Penilaian Kelas 12</h1>
        <!-- Bordered Tabs Justified -->
        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-121 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home_pengetahuan_12" type="button" role="tab" aria-controls="home" aria-selected="true">Pengetahuan</button>
          </li>
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-121" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile_keterampilan_12" type="button" role="tab" aria-controls="profile" aria-selected="false">Keterampilan</button>
          </li>
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-121" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact_sosial_12" type="button" role="tab" aria-controls="contact" aria-selected="false">Sikap Sosial</button>
          </li>
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-121" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact_spiritual_12" type="button" role="tab" aria-controls="contact" aria-selected="false">Sikap Spiritual</button>
          </li>
        </ul>
        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
          <div class="tab-pane fade show active" id="bordered-justified-home_pengetahuan_12" role="tabpanel" aria-labelledby="home-tab">
            <canvas id="barChart_pengetahuan_12" style="max-height: 400px;"></canvas>
            <script>
              var data_p_12 = JSON.parse("{{ data_grafik | escapejs }}")
              document.addEventListener("DOMContentLoaded", () => {
              new Chart(document.querySelector('#barChart_pengetahuan_12'), {
                type: 'bar',
                data: {
                  labels: data_p_12['kelas_12']['pengetahuan']['kelas'],
                  datasets: [
                    {
                      label: 'Semester 1',
                      data: data_p_12['kelas_12']['pengetahuan']['semester_1']['nilai'],
                      backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      ],
                      borderColor: [
                      'rgb(255, 99, 132)',
                      ],
                      borderWidth: 1
                    },
                    {
                      label: 'Semester 2',
                      data: data_p_12['kelas_12']['pengetahuan']['semester_2']['nilai'],
                      backgroundColor: [
                      'rgba(153, 122, 255, 0.2)',
                      ],
                      borderColor: [
                      'rgb(153, 122, 255)',
                      ],
                      borderWidth: 1
                    }
                  ]
                },
                options: {
                  scales: {
                    y: {
                    beginAtZero: true
                    }
                  },
                  plugins: {
                    legend: true
                  }
                }
                });
              });
            </script>
            <table class="table table-hover datatable" style="font-size: 13px;">
              <thead>
                <th>Siswa</th>
                <th>Kelas</th>
                <th>Semester</th>
                <th>Nilai P1 TGS</th>
                <th>Nilai P2 TLS</th>
                <th>Nilai P3 TLS</th>
              </thead>
              <tbody>
                {% for data in data_angka.kelas_12.pengetahuan %}
                <tr>
                  <td>{{ data.mo_siswa__murid_nama }}</td>
                  <td>{{ data.mo_kelas__skl_k_kelas_nama }}</td>
                  <td>{{ data.mo_semester__skl_s_semester}}</td>
                  <td>{{ data.mo_nilai_P1_TGS__avg | floatformat }}</td>
                  <td>{{ data.mo_nilai_P2_TLS__avg | floatformat }}</td>
                  <td>{{ data.mo_nilai_P3_TLS__avg | floatformat }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="bordered-justified-profile_keterampilan_12" role="tabpanel" aria-labelledby="profile-tab">
            <canvas id="barChart_keterampilan_12" style="max-height: 400px;"></canvas>
            <script>
              var data_p_12 = JSON.parse("{{ data_grafik | escapejs }}")
              document.addEventListener("DOMContentLoaded", () => {
              new Chart(document.querySelector('#barChart_keterampilan_12'), {
                type: 'bar',
                data: {
                  labels: data_p_12['kelas_12']['keterampilan']['kelas'],
                  datasets: [
                    {
                      label: 'Semester 1',
                      data: data_p_12['kelas_12']['keterampilan']['semester_1']['nilai'],
                      backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      ],
                      borderColor: [
                      'rgb(255, 99, 132)',
                      ],
                      borderWidth: 1
                    },
                    {
                      label: 'Semester 2',
                      data: data_p_12['kelas_12']['keterampilan']['semester_2']['nilai'],
                      backgroundColor: [
                      'rgba(153, 122, 255, 0.2)',
                      ],
                      borderColor: [
                      'rgb(153, 122, 255)',
                      ],
                      borderWidth: 1
                    }
                  ]
                },
                options: {
                  scales: {
                    y: {
                    beginAtZero: true
                    }
                  },
                  plugins: {
                    legend: true
                  }
                }
                });
              });
            </script>
            <table class="table table-hover datatable" style="font-size: 13px;">
              <thead>
                <th>Siswa</th>
                <th>Kelas</th>
                <th>Nilai Praktek</th>
                <th>Nilai Produk</th>
                <th>Nilai Proyek</th>
                <th>Nilai Portofolio</th>
              </thead>
              <tbody>
                {% for data in data_angka.kelas_12.keterampilan %}
                <tr>
                  <td>{{ data.mo_siswa__murid_nama }}</td>
                  <td>{{ data.mo_kelas__skl_k_kelas_nama }}</td>
                  <td>{{ data.mo_praktek__avg | floatformat }}</td>
                  <td>{{ data.mo_produk__avg | floatformat }}</td>
                  <td>{{ data.mo_proyek__avg | floatformat }}</td>
                  <td>{{ data.mo_portofolio__avg | floatformat }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="bordered-justified-contact_sosial_12" role="tabpanel" aria-labelledby="contact-tab">
            <table class="table table-hover datatable" style="font-size: 13px;">
              <thead>
                <th>Siswa</th>
                <th>Nilai</th>
              </thead>
              <tbody>
                {% for data1, data2 in data_angka.kelas_12.sosial %}
                <tr>
                  <td>{{ data1 }}</td>
                  <td>{{ data2 }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="bordered-justified-contact_spiritual_12" role="tabpanel" aria-labelledby="contact-tab">
            <table class="table table-hover datatable" style="font-size: 13px;">
              <thead>
                <th>Siswa</th>
                <th>Nilai</th>
              </thead>
              <tbody>
                {% for data1, data2 in data_angka.kelas_12.spiritual %}
                <tr>
                  <td>{{ data1 }}</td>
                  <td>{{ data2 }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      <!-- End Bordered Tabs Justified -->
        
      </div>
    </div>
</main>
{% endblock sub_content %}