{% extends 'templates_guru/dashboard_guru.html' %}
{% load static %}

{% block title %}
	Input Kompetensi Dasar Mapel Wajib
{% endblock title %}

{% block sub_content %}
<main id="main">
	<h5>Input Kompetensi Dasar Mata Pelajaran <b>{{ guru.guru_mata_pelajaran_jurusan }}</b></h5>
	<nav>
	    <ol class="breadcrumb">
	      <li class="breadcrumb-item"><a href="{% url 'monitoring:page_guru_list_pengetahuan_wajib' %}">Monitoring</a></li>
	      <li class="breadcrumb-item"><a href="{% url 'monitoring:page_guru_list_kompetensi_dasar_jurusan' %}">Kompetensi Dasar</a></li>
	      <li class="breadcrumb-item active">Input Nilai</li>
	    </ol>
	</nav>
	<div class="card">
		<div class="card-body" style="overflow-x: auto;">
		  <!-- Multi Columns Form -->
		  <form class="row g-3" method="POST" style="width: 1200px;">
		    <!-- Table with hoverable rows -->
		      <table class="table table-hover">
		        <thead>
		          <tr>
		            <th scope="col" style="width:10px;">Nomor KD</th>
		            <th scope="col" style="width:10px;">Kelas</th>
		            <th scope="col" style="width:10px;">Semester</th>
		            <th scope="col">Kompetensi Dasar</th>
		            <th scope="col" style="width:10px;">Hapus</th>
		          </tr>
		        </thead>
		        <tbody>
		          {{ formset.management_form }}
		          {% for data in formset %}
		          	{% csrf_token %}
		          	{% for hidden in data.hidden_fields %}
		          		{{ hidden }}
		          	{% endfor %}
		          <tr>
		            <th scope="row">{{ data.guru_nomor_kd }}</th>
		            <td>{{ data.guru_kompetensi_dasar_kelas }}</td>
		            <td>{{ data.guru_kompetensi_dasar_semester }}</td>
		            <td>{{ data.guru_kompetensi_dasar }}</td>
		            <td>{{ data.mo_kompetensi_dasar }}</td>
		            <td>{{ data.DELETE }}</td>
		          </tr>
		          {% endfor %}
		        </tbody>
		      </table>
		      <!-- End Table with hoverable rows -->
		      <button type="submit" class="btn btn-primary">Simpan</button>
		  </form>
		<!-- End Multi Columns Form -->
		</div>
	</div>
	
</main>
{% endblock sub_content %}