{% extends 'templates_ekskul/dashboard_ekskul.html' %}
{% load static %}
{% block title %}Hapus Nilai {{ info.skl_ekskul }} {% endblock title %}

{% block sub_content %}
<main id="main">
	<div class="pagetitle">
      <h1>Konfimasi Hapus Nilai Ektrakulikuler <b>{{ info.skl_ekskul }}</b></h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'monitoring:page_ekskul_nilai'%}">Monitoring</a></li>
          <li class="breadcrumb-item"><a href="{% url 'monitoring:page_ekskul_nilai' %}">Nilai</a></li>
          <li class="breadcrumb-item">Delete</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
	<div class="card">
		<div class="card-body">
			<!-- No Labels Form -->
			<h1 class="card-title">Hapus Nilai</h1>
      <form method="POST">
        {% csrf_token %}
        <table class="table table-hover">
          <thead>
            <th scope="col">Keterangan</th>
            <th scope="col">Data</th>
          </thead>
          <tbody>
            <tr>
              <td>Siswa</td>
              <td>: {{ object.mo_siswa.murid_nama }}</td>
            </tr>
            <tr>
              <td>Kelas</td>
              <td>: {{ object.mo_kelas }}</td>
            </tr>
            <tr>
              <td>Tahun Ajaran</td>
              <td>: {{ object.mo_tahun_ajaran }}</td>
            </tr>
            <tr>
              <td>Semester</td>
              <td>: {{ object.mo_semester }}</td>
            </tr>
            <tr>
              <td>Nilai</td>
              <td>: {{ object.mo_nilai }}</td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-danger">Hapus</button>
        <a class="btn btn-primary" href="{% url 'monitoring:page_ekskul_nilai' %}">Batal</a>
      </form>
		</div>
	</div>
</main>
{% endblock sub_content %}