{% extends 'templates_kepsek/dashboard_kepsek.html' %}
{% load static %}
{% block title %}Detail Kompetensi Dasar{% endblock title %}
{% load widget_tweaks %}



{% block sub_content %}

<main id="main">
	<div class="pagetitle">
      <h1>Kompetensi Dasar <b>{{ mapel_wajib.mapel_wajib_pelajaran }}</b></h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'monitoring:page_kepsek_performa_kelas_landing'%}">Monitoring</a></li>
          <li class="breadcrumb-item"><a href="{% url 'monitoring:page_kepsek_kompetensi_dasar'%}">Kompetensi Dasar</a></li>
          <li class="breadcrumb-item">Detail Kompetensi Dasar</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="card">
			<div class="card-body">
				<h1 class="card-title">Filter Kompetensi Dasar</h1>
				<form>
					<div class="row">
						<div class="col-md-4">
				          {{ kompetensi_dasar.form.guru_kompetensi_dasar_kelas.label_tag }}
				          {% render_field kompetensi_dasar.form.guru_kompetensi_dasar_kelas class='form-control' %}
				        </div>
				        <div class="col-md-4">
				          {{ kompetensi_dasar.form.guru_kompetensi_dasar_semester.label_tag }}
				          {% render_field kompetensi_dasar.form.guru_kompetensi_dasar_semester class='form-control' %}
				        </div>
				        <br>
				        <br>
				        <br>
				        <div class="text-center">
				          <button type="submit" class="btn btn-primary">Filter</button>
				        </div>
			        </div>
				</form>
			</div>
		</div>

    <div class="card">
    	<div class="card-body">
    		<h1 class="card-title">Tabel Kompetensi Dasar</h1>
    		<table class="table table-hover datatable">
			    <thead>
			      <tr>
			        <th scope="col">Nomor KD</th>
			        <th scope="col">Kelas</th>
			        <th scope="col">Semester</th>
			        <th scope="col">Kompetensi Dasar</th>
			      </tr>
			    </thead>
			    <tbody>
			    {% for kompetensi_dasar in kompetensi_dasar.qs %}
			      <tr>
			        <th scope="row">{{ kompetensi_dasar.guru_nomor_kd }}</th>
			        <td>{{ kompetensi_dasar.guru_kompetensi_dasar_kelas }}</td>
			        <td>{{ kompetensi_dasar.guru_kompetensi_dasar_semester }}</td>
			        <td>
			        	{{ kompetensi_dasar.guru_kompetensi_dasar | slice:"100" }}......
	    					<!-- Disabled Backdrop Modal -->
	              <button type="button" class="btn btn-primary btn-sm rounder-pill" data-bs-toggle="modal" data-bs-target="#disablebackdrop_{{kompetensi_dasar.guru_kompetensi_dasar_uuid}}">
	                <span class="badge rounded-pill bg-primary">lihat selengkapnya</span>
	              </button>
	              <div class="modal fade" id="disablebackdrop_{{kompetensi_dasar.guru_kompetensi_dasar_uuid}}" tabindex="-1" data-bs-backdrop="false">
	                <div class="modal-dialog">
	                  <div class="modal-content">
	                    <div class="modal-header">
	                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	                    </div>
	                    <div class="modal-body">
	                    	<span class="badge rounded-pill bg-success">{{ kompetensi_dasar.guru_kompetensi_dasar_mata_pelajaran_wajib}}</span>
	                    	<span class="badge rounded-pill bg-danger">Kelas {{ kompetensi_dasar.guru_kompetensi_dasar_kelas }}</span>
	                    	<span class="badge rounded-pill bg-warning">No. KD {{ kompetensi_dasar.guru_nomor_kd }}</span>
	                    	<br>
	                    	<br>
	                      {{ kompetensi_dasar.guru_kompetensi_dasar }}
	                    </div>
	                    <div class="modal-footer">
	                      <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Tutup</button>
	                    </div>
	                  </div>
	                </div>
	              </div><!-- End Disabled Backdrop Modal-->	
			        </td>
			      </tr>
			    {% endfor %}
			    </tbody>
			  </table>
			  <!-- End Table with stripped rows -->
    	</div>
    </div>
</main>
{% endblock sub_content %}

