.warna_putih{
    color:white;
}


.tinggi_35rem{
    height: 100vh;
}

.tinggi_20rem{
    height: 20rem;
}

.font_20px{
    font-size: 20px;
}

.padding-top-100px{
    padding-top: 100px;
}
.padding-left-20px{
    padding-left: 20px;
}

.margin-100-px{
    margin-top: 100px;
}

.login_page{
    margin-top: 120px;
    border: 1px solid red;
    height: 100px;
    width: 20px;
}