{% extends 'templates_guru/dashboard_guru.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Update Nilai Sikap Sosial {{ guru.guru_mata_pelajaran_wajib }}{% endblock title %}

{% block sub_content %}
<main id="main">
	<h5>Update Nilai Sikap Sosial Mata Pelajaran <b>{{ guru.guru_mata_pelajaran_wajib }}</b></h5>
	<nav>
	    <ol class="breadcrumb">
	      <li class="breadcrumb-item"><a href="{% url 'monitoring:page_guru_list_pengetahuan_wajib' %}">Monitoring</a></li>
	      <li class="breadcrumb-item"><a href="{% url 'monitoring:page_guru_list_sikap_sosial_wajib' %}">Nilai</a></li>
	      <li class="breadcrumb-item active">Update Nilai</li>
	    </ol>
	</nav>
	<div class="card">
		<div class="card-body">
			<!-- Multi Columns Form -->
			<h1 class="card-title">Update Nilai</h1>
			<form class="row g-3" method="POST">
				{% csrf_token %}
				<div class="col-md-12">
					<label for="inputName5" class="form-label">Siswa</label>
					{{ form.mo_siswa }}
				</div>
				<div class="col-md-6">
					<label for="inputEmail5" class="form-label">Kelas</label>
					{{ form.mo_kelas }}
				</div>
				<div class="col-md-6">
					<label for="inputPassword5" class="form-label">Tahun Ajaran</label>
					{{ form.mo_tahun_ajaran }}
				</div>
				<div class="col-12">
					<label for="inputAddress5" class="form-label">Semester</label>
					{{ form.mo_semester }}
				</div>
				<div class="col-12">
					<label for="inputAddress2" class="form-label">Kompetensi Dasar</label>
					{{ form.mo_kompetensi_dasar }}
				</div>
				<div class="col-md-2">
					<label for="inputCity" class="form-label">Penilaian Ke</label>
					{{ form.mo_penilaian_ke }}
				</div>
				<div class="col-md-2">
					<label for="inputState" class="form-label">Nilai</label>
					{{ form.mo_nilai }}
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-primary">Simpan</button>
				</div>
			</form><!-- End Multi Columns Form -->
		</div>
	</div>
</main>
{% endblock sub_content %}