{% extends 'templates_bk/dashboard_bk.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Update Catatan {% endblock title %}

{% block sub_content %}
<main id="main">
	<h5>Update Catatan</h5>
	<nav>
	    <ol class="breadcrumb">
	      <li class="breadcrumb-item"><a href="{% url 'monitoring:page_bk_dashboard' %}">Monitoring</a></li>
	      <li class="breadcrumb-item"><a href="{% url 'monitoring:page_bk_catatan' %}">Catatan</a></li>
	      <li class="breadcrumb-item active">Update</li>
	    </ol>
	</nav>

	<div class="card">
		<div class="card-body">
			<h1 class="card-title">Update Catatan</h1>
			<form class="row g-3" method="POST">
				{% csrf_token %}
				<div class="col-md-6">
					<label for="inputName5" class="form-label">Siswa</label>
					{{ form.bk_catatan_siswa }}
				</div>
				<div class="col-md-6">
					<label for="inputEmail5" class="form-label">Status</label>
					{{ form.bk_catatan_status }}
				</div>
				<div class="col-md-6">
					<label for="inputEmail5" class="form-label">Catatan</label>
					{{ form.bk_catatan }}
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-primary">Simpan</button>
				</div>
			</form><!-- End Multi Columns Form -->
		</div>
	</div>
</main>
{% endblock sub_content %}
