{% extends 'templates_guru/dashboard_guru.html' %}
{% load static %}

{% block title %}
	Input Nilai UTS Mapel Wajib
{% endblock title %}

{% block sub_content %}
<main id="main">
	<h5>Input Nilai UTS Mata Pelajaran <b>{{ guru.guru_mata_pelajaran_wajib }}</b></h5>
	<nav>
	    <ol class="breadcrumb">
	      <li class="breadcrumb-item"><a href="{% url 'monitoring:page_guru_list_pengetahuan_wajib' %}">Monitoring</a></li>
	      <li class="breadcrumb-item"><a href="{% url 'monitoring:page_guru_list_uts_wajib' %}">Nilai UTS</a></li>
	      <li class="breadcrumb-item active">Input Nilai UTS</li>
	    </ol>
	</nav>
	<div class="card">
		<div class="card-body" style="overflow-x: auto;">
		  <!-- Multi Columns Form -->
		  <form class="row g-3" method="POST" style="width: 1200px;">
		    <!-- Table with hoverable rows -->
		      <table class="table table-hover" style="font-size: 13px;">
		        <thead>
		          <tr>
		            <th scope="col">Status</th>
		            <th scope="col">Siswa</th>
		            <th scope="col">Kelas</th>
		            <th scope="col">Tahun Ajaran</th>
		            <th scope="col">Semester</th>
		            <th scope="col">KKM</th>
		            <th scope="col">Nilai</th>
		            <th scope="col">Ketuntasan</th>
		            <th scope="col">Hapus</th>
		          </tr>
		        </thead>
		        <tbody>
		          {{ formset.management_form }}
		          {% for data in formset %}
		          	{% csrf_token %}
		          	{% for hidden in data.hidden_fields %}
		          		{{ hidden }}
		          	{% endfor %}
		          <tr>
		            <th scope="row">{{ data.mo_status }}</th>
		            <th>{{ data.mo_siswa }}</th>
		            <td>{{ data.mo_kelas }}</td>
		            <td>{{ data.mo_tahun_ajaran }}</td>
		            <td>{{ data.mo_semester }}</td>
		            <td>{{ data.mo_kkm }}</td>
		            <td>{{ data.mo_nilai }}</td>
		            <td>{{ data.mo_ketuntasan }}</td>
		            <td>{{ data.DELETE }}</td>
		          </tr>
		          {% endfor %}
		        </tbody>
		      </table>
		      <!-- End Table with hoverable rows -->
		      <button type="submit" class="btn btn-primary">Simpan</button>
		  </form>
		<!-- End Multi Columns Form -->
		</div>
	</div>
	
</main>
{% endblock sub_content %}