{% extends 'templates_bk/dashboard_bk.html' %}
{% load static %}
{% block title %}Detail Performa Kelas{% endblock title %}
{% load widget_tweaks %}
{% load dict_key %}


{% block sub_content %}



<main id='main'>
	<div class="pagetitle">
      <h1>Detail Siswa</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'monitoring:page_bk_nilai_siswa_landing'%}">List Siswa</a></li>
          <li class="breadcrumb-item">Detail</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
 

    <div class="card">
    	<div class="card-body">
    		<h1 class="card-title">Identitas Siswa</h1>
    		<table class="table">
    		<tr>
    			<td>Nama Lengkap</td>
    			<td>: {{ siswa.murid_nama }}</td>
    		</tr>
    		<tr>
    			<td>Kelas</td>
    			<td>: {{ siswa.murid_kelas }}</td>
    		</tr>
    		<tr>
    			<td>NISN</td>
    			<td>: {{ siswa.murid_nisn }}</td>
    		</tr>
    		<tr>
    			<td>NSS</td>
    			<td>: {{ siswa.murid_nss }}</td>
    		</tr>
    		<tr>
    			<td>NPSN</td>
    			<td>: {{ siswa.murid_npsn }}</td>
    		</tr>
    		<tr>
    			<td>Nomor Induk</td>
    			<td>: {{ siswa.murid_nomor_induk }}</td>
    		</tr>
    		<tr>
    			<td>Semester</td>
    			<td>: {{ siswa.murid_semester }}</td>
    		</tr>
    		<tr>
    			<td>Tahun Ajaran</td>
    			<td>: {{ siswa.murid_tahun_ajaran }}</td>
    		</tr>
    		<tr>
    			<td>Ekstrakulikuler</td>
    			<td>: {{ siswa.murid_ekskul }}</td>
    		</tr>
    	</table>
    	</div>
    </div>


    <div class="card">
    	<div class="card-body">
				<h1 class="card-title">Catatan Siswa</h1>
				<div style="height: 400px; overflow-y: auto;">
			    <div class="row">
			    	<div class="col">
			    		<div class="card">
			    			<div class="card-body">
			    				<h1 class="card-title">Catatan BK</h1>
			    				{% for data in catatan_bk %}
			    				{% if data.bk_catatan_status == "Peringatan" %}
				    				<div class="alert alert-danger fade show" role="alert">
				    			{% elif data.bk_catatan_status == "Himbauan" %}
				    				<div class="alert alert-warning fade show" role="alert">
				    			{% elif data.bk_catatan_status == "Pengumuman" %}
				    				<div class="alert alert-primary fade show" role="alert">
				    			{% endif %}
										  <h4 class="alert-heading">{{ data.bk_catatan_status }}</h4>
										  <p>{{ data.bk_catatan }}</p>
										  <hr>
										</div>
									{% endfor %}
			    			</div>
			    		</div>
			    	</div>
			    	<div class="col">
			    		<div class="card">
			    			<div class="card-body">
			    				<h1 class="card-title">Catatan Guru</h1>
			    				{% for data in catatan_guru %}
			    				{% if data.guru_catatan_status == "Peringatan" %}
				    				<div class="alert alert-danger fade show" role="alert">
				    			{% elif data.guru_catatan_status == "Himbauan" %}
				    				<div class="alert alert-warning fade show" role="alert">
				    			{% elif data.guru_catatan_status == "Pengumuman" %}
				    				<div class="alert alert-primary fade show" role="alert">
				    			{% endif %}
										  <h4 class="alert-heading">{{ data.guru_catatan_status }}</h4>
										  {% if data.guru_catatan_mata_pelajaran_wajib is not None %}
											  <p>Mapel: <b>{{ data.guru_catatan_mata_pelajaran_wajib }}</b></p>
										  {% elif data.guru_catatan_mata_pelajaran_jurusan is not None %}
											  <p>Mapel: <b>{{ data.guru_catatan_mata_pelajaran_jurusan }}</b></p>
											{% endif %}
										  <hr>
										  <p class="mb-0">{{ data.guru_catatan }}</p>
										</div>
									{% endfor %}
			    			</div>
			    		</div>
			    	</div>
			    </div>
		    </div>
	    </div>
    </div>


    <div class="card">
    	<div class="card-body">
    		<h1 class="card-title">Grafik x̄ Nilai Per Semester</h1>
    		<canvas id="lineChart" style="max-height: 400px"></canvas>
				<script>
					var data_grafik = JSON.parse("{{ data_grafik | escapejs }}");
					console.log("data_grafik: ", data_grafik)
				  document.addEventListener("DOMContentLoaded", () => {
				    new Chart(document.querySelector("#lineChart"), {
				      type: "line",
				      data: {
				        labels: [
				          "Semester 1",
				          "Semester 2",
				          "Semester 3",
				          "Semester 4",
				          "Semester 5",
				          "Semester 6",
				          
				        ],
				        datasets: [
				          {
				            label: "x̄ Nilai",
				            data: [
				            	data_grafik["avg_sem"]['1'],
				            	data_grafik["avg_sem"]['2'],
				            	data_grafik["avg_sem"]['3'],
				            	data_grafik["avg_sem"]['4'],
				            	data_grafik["avg_sem"]['5'],
				            	data_grafik["avg_sem"]['6'],
				            ],
				            fill: false,
				            borderColor: "rgb(75, 192, 192)",
				            tension: 0.1,
				          },
				        ],
				      },
				      options: {
				        scales: {
				          y: {
				            beginAtZero: true,
				          },
				        },
				      },
				    });
				  });
				</script>
				<p>Rata - Rata saat ini: <strong>{{ all_mean }}</strong></p>
    	</div>
    </div>

    <div class="card" style="overflow-x: auto;">
    	<div class="card-body">
    		<h1 class="card-title">Tabel x̄ Nilai Seluruh Pelajaran</h1>
    		<!-- Bordered Tabs Justified -->
				<ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
				  <li class="nav-item flex-fill" role="presentation">
				    <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-pengetahuan" type="button" role="tab" aria-controls="home" aria-selected="true">Pengetahuan</button>
				  </li>
				  <li class="nav-item flex-fill" role="presentation">
				    <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-keterampilan" type="button" role="tab" aria-controls="profile" aria-selected="false">Keterampilan</button>
				  </li>
				  <li class="nav-item flex-fill" role="presentation">
				    <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-sosial" type="button" role="tab" aria-controls="contact" aria-selected="false">Sikap Sosial</button>
				  </li>
				  <li class="nav-item flex-fill" role="presentation">
				    <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-spiritual" type="button" role="tab" aria-controls="contact" aria-selected="false">Sikap Spiritual</button>
				  </li>
				  <li class="nav-item flex-fill" role="presentation">
				    <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-ulangan" type="button" role="tab" aria-controls="contact" aria-selected="false">Ulangan</button>
				  </li>
				  <li class="nav-item flex-fill" role="presentation">
				    <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-uts" type="button" role="tab" aria-controls="contact" aria-selected="false">UTS</button>
				  </li>
				  <li class="nav-item flex-fill" role="presentation">
				    <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-uas" type="button" role="tab" aria-controls="contact" aria-selected="false">UAS</button>
				  </li>
				</ul>
				<div class="tab-content pt-2" id="borderedTabJustifiedContent">
				  <div class="tab-pane fade show active" id="bordered-justified-pengetahuan" role="tabpanel" aria-labelledby="home-tab">
				  	<table class="table table-hover datatable">
				  		<thead>
				  			<th scope="col">Kelas</th>
				  			<th scope="col">Semester</th>
				  			<th scope="col">x̄ Nilai P1 TGS</th>
				  			<th scope="col">x̄ Nilai P2 TLS</th>
				  			<th scope="col">x̄ Nilai P3 TLS</th>
				  		</thead>
				  		<tbody>
					  			{% for data in data_angka.pengetahuan %}
					  			<tr>
					  				<td>{{ data.mo_kelas__skl_k_kelas_nama }}</td>
					  				<td>{{ data.mo_semester__skl_s_semester }}</td>
					  				<td>{{ data.mo_nilai_P1_TGS__avg | floatformat}}</td>
					  				<td>{{ data.mo_nilai_P2_TLS__avg | floatformat}}</td>
					  				<td>{{ data.mo_nilai_P3_TLS__avg | floatformat}}</td>
					  			</tr>
					  			{% endfor %}
					  	</tbody>
				  	</table>
				  </div>
				  <div class="tab-pane fade" id="bordered-justified-keterampilan" role="tabpanel" aria-labelledby="profile-tab">
				  	<table class="table table-hover datatable">
				  		<thead>
				  			<th scope="col">Kelas</th>
				  			<th scope="col">Semester</th>
				  			<th scope="col">x̄ Nilai Praktek</th>
				  			<th scope="col">x̄ Nilai Produk</th>
				  			<th scope="col">x̄ Nilai Proyek</th>
				  			<th scope="col">x̄ Nilai Portofolio</th>
				  		</thead>
				  		<tbody>
					  			{% for data in data_angka.keterampilan %}
					  			<tr>
					  				<td>{{ data.mo_kelas__skl_k_kelas_nama }}</td>
					  				<td>{{ data.mo_semester__skl_s_semester }}</td>
					  				<td>{{ data.mo_praktek__avg | floatformat}}</td>
					  				<td>{{ data.mo_produk__avg | floatformat}}</td>
					  				<td>{{ data.mo_proyek__avg | floatformat}}</td>
					  				<td>{{ data.mo_portofolio__avg | floatformat}}</td>
					  			</tr>
					  			{% endfor %}
					  	</tbody>
				  	</table>
				  </div>
				  <div class="tab-pane fade" id="bordered-justified-sosial" role="tabpanel" aria-labelledby="contact-tab">
				  	<table class="table table-hover datatable">
				  		<thead>
				  			<th scope="col">Kelas</th>
				  			<th scope="col">Semester</th>
				  			<th scope="col">x̄ Nilai</th>
				  		</thead>
				  		<tbody>
					  			{% for data in data_angka.sosial %}
					  			<tr>
					  				<td>{{ data.mo_kelas__skl_k_kelas_nama }}</td>
					  				<td>{{ data.mo_semester__skl_s_semester }}</td>
					  				{% if data.mo_proyeksi_nilai__avg <= 100 and data.mo_proyeksi_nilai__avg > 75 %}
						  				<td><span class="badge bg-primary rounded-pill">Sangat Baik</span></td>
						  			{% elif data.mo_proyeksi_nilai__avg <= 75 and data.mo_proyeksi_nilai__avg > 50 %}
						  				<td><span class="badge bg-success rounded-pill">Baik</span></td>
						  			{% elif data.mo_proyeksi_nilai__avg <= 50 and data.mo_proyeksi_nilai__avg > 25 %}
						  				<td><span class="badge bg-warning rounded-pill">Cukup</span></td>
						  			{% elif data.mo_proyeksi_nilai__avg <= 25 and data.mo_proyeksi_nilai__avg > 0 %}
						  				<td><span class="badge bg-danger rounded-pill">Kurang</span></td>
						  			{% endif %}
					  			</tr>
					  			{% endfor %}
					  	</tbody>
				  	</table>
				  </div>
				  <div class="tab-pane fade" id="bordered-justified-spiritual" role="tabpanel" aria-labelledby="contact-tab">
				  	<table class="table table-hover datatable">
				  		<thead>
				  			<th scope="col">Kelas</th>
				  			<th scope="col">Semester</th>
				  			<th scope="col">x̄ Nilai</th>
				  		</thead>
				  		<tbody>
					  			{% for data in data_angka.spiritual %}
					  			<tr>
					  				<td>{{ data.mo_kelas__skl_k_kelas_nama }}</td>
					  				<td>{{ data.mo_semester__skl_s_semester }}</td>
					  				{% if data.mo_proyeksi_nilai__avg <= 100 and data.mo_proyeksi_nilai__avg > 75 %}
						  				<td><span class="badge bg-primary rounded-pill">Sangat Baik</span></td>
						  			{% elif data.mo_proyeksi_nilai__avg <= 75 and data.mo_proyeksi_nilai__avg > 50 %}
						  				<td><span class="badge bg-success rounded-pill">Baik</span></td>
						  			{% elif data.mo_proyeksi_nilai__avg <= 50 and data.mo_proyeksi_nilai__avg > 25 %}
						  				<td><span class="badge bg-warning rounded-pill">Cukup</span></td>
						  			{% elif data.mo_proyeksi_nilai__avg <= 25 and data.mo_proyeksi_nilai__avg > 0 %}
						  				<td><span class="badge bg-danger rounded-pill">Kurang</span></td>
						  			{% endif %}
					  			</tr>
					  			{% endfor %}
					  	</tbody>
				  	</table>
				  </div>
				  <div class="tab-pane fade" id="bordered-justified-ulangan" role="tabpanel" aria-labelledby="contact-tab">
				  	<table class="table table-hover datatable">
				  		<thead>
				  			<th scope="col">Kelas</th>
				  			<th scope="col">Semester</th>
				  			<th scope="col">x̄ Nilai</th>
				  		</thead>
				  		<tbody>
					  			{% for data in data_angka.ulangan %}
					  			<tr>
					  				<td>{{ data.mo_kelas__skl_k_kelas_nama }}</td>
					  				<td>{{ data.mo_semester__skl_s_semester }}</td>
					  				<td>{{ data.avg_sem | floatformat}}</td>
					  			</tr>
					  			{% endfor %}
					  	</tbody>
				  	</table>
				  </div>
				  <div class="tab-pane fade" id="bordered-justified-uts" role="tabpanel" aria-labelledby="contact-tab">
				  	<table class="table table-hover datatable">
				  		<thead>
				  			<th scope="col">Kelas</th>
				  			<th scope="col">Semester</th>
				  			<th scope="col">x̄ Nilai</th>
				  		</thead>
				  		<tbody>
					  			{% for data in data_angka.uts %}
					  			<tr>
					  				<td>{{ data.mo_kelas__skl_k_kelas_nama }}</td>
					  				<td>{{ data.mo_semester__skl_s_semester }}</td>
					  				<td>{{ data.avg_sem | floatformat}}</td>
					  			</tr>
					  			{% endfor %}
					  	</tbody>
				  	</table>
				  </div>
				  <div class="tab-pane fade" id="bordered-justified-uas" role="tabpanel" aria-labelledby="contact-tab">
				  	<table class="table table-hover datatable">
				  		<thead>
				  			<th scope="col">Kelas</th>
				  			<th scope="col">Semester</th>
				  			<th scope="col">x̄ Nilai</th>
				  		</thead>
				  		<tbody>
					  			{% for data in data_angka.uas %}
					  			<tr>
					  				<td>{{ data.mo_kelas__skl_k_kelas_nama }}</td>
					  				<td>{{ data.mo_semester__skl_s_semester }}</td>
					  				<td>{{ data.avg_sem | floatformat }}</td>
					  			</tr>
					  			{% endfor %}
					  	</tbody>
				  	</table>
				  </div>
				</div>
				<!-- End Bordered Tabs Justified -->
    	</div>
    </div>


    <div class="card">
    	<div class="card-body">
    		<!-- Bordered Tabs Justified -->
    		<h1 class="card-title">Tabel Ekstrakulikuler</h1>
				<ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
				  <li class="nav-item flex-fill" role="presentation">
				    <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-nilai-ekskul" type="button" role="tab" aria-controls="home" aria-selected="true">Nilai Ekskul</button>
				  </li>
				  <li class="nav-item flex-fill" role="presentation">
				    <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-kejuaraan" type="button" role="tab" aria-controls="profile" aria-selected="false">Kejuaraan</button>
				  </li>
				</ul>
				<div class="tab-content pt-2" id="borderedTabJustifiedContent">
				  <div class="tab-pane fade show active" id="bordered-justified-nilai-ekskul" role="tabpanel" aria-labelledby="home-tab">
			  		<table class="table table-hover datatable">
				  		<thead>
				  			<th scope="col">Kelas</th>
				  			<th scope="col">Semester</th>
				  			<th scope="col">x̄ Nilai</th>
				  		</thead>
				  		<tbody>
					  			{% for data in data_angka.ekskul %}
					  			<tr>
					  				<td>{{ data.mo_kelas__skl_k_kelas_nama }}</td>
					  				<td>{{ data.mo_semester__skl_s_semester }}</td>
					  				<td>{{ data.mo_nilai__avg }}</td>
					  			</tr>
					  			{% endfor %}
					  	</tbody>
				  	</table>		  	
				  </div>
				  <div class="tab-pane fade" id="bordered-justified-kejuaraan" role="tabpanel" aria-labelledby="profile-tab">
				  	<table class="table table-hover datatable">
				  		<thead>
				  			<th scope="col">Ekskul</th>
				  			<th scope="col">Tahun</th>
				  			<th scope="col">Tingkat</th>
				  			<th scope="col">Pelaksana</th>
				  			<th scope="col">Kejuaraan</th>
				  			<th scope="col">Juara</th>
				  		</thead>
				  		<tbody>
					  			{% for data in data_angka.juara_ekskul %}
					  			<tr>
					  				<td>{{ data.mo_ekskul }}</td>
					  				<td>{{ data.mo_tahun }}</td>
					  				<td>{{ data.mo_tingkatan }}</td>
					  				<td>{{ data.mo_pelaksana }}</td>
					  				<td>{{ data.mo_kejuaraan }}</td>
					  				<td>{{ data.mo_juara }}</td>
					  			</tr>
					  			{% endfor %}
					  	</tbody>
				  	</table>
				  </div>
				</div>
				<!-- End Bordered Tabs Justified -->
    	</div>
    </div>

    <div class="card">
    	<div class="card-body">
    		<h1 class="card-title">x̄ Nilai Tugas per Mata Pelajaran</h1>
    		<small>x̄ dari pengetahuan dan keterampilan</small>
    		<small>dari kelas 10 - {{ siswa.murid_kelas.skl_k_jenjang }}</small>
    		<table class="table table-hover">
    			<thead>
    				<th scope="col">Pelajaran</th>
    				<th scope="col">Nilai</th>
    			</thead>
    			<tbody>
    				{% for pelajaran, nilai in zip_avg %}
    					<tr>
    						<td>{{ pelajaran }}</td>
    						<td>{{ nilai }}</td>
    					</tr>
    				{% endfor %}
    			</tbody>
    		</table>
    	</div>
    </div>
</main>
{% endblock sub_content %}